.main-header {
    grid-row: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .line {
    width: 100vw;
    position: absolute;
    height: 1px;
    border-bottom: 1px solid var(--clr2);
    top: 73px;
    left: 0;
}

.logo {
    background-image: url(../../assets/imgs/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    width: 80px;
    /* width: 100%; */
}