.main-header {
    grid-row: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr2);
}

.main-header nav {
    display: flex;
    font-size: 1.7rem;
    color: gray;
    height: 100%;
}

.main-header nav>* {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.main-header nav>*:not(:last-child) {
    border-right: 1px solid var(--clr2);
}

.main-header .logo {
    background-image: url(../../assets/imgs/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.main-header a:not(.logo):hover {
    background-color: var(--clr4);

}

.main-header .router-link-active:not(.logo) {
    background-color: var(--clr3);
    font-family: roboto-b, sans-serif;
}