.email-preview {
    display: flex;
    /* justify-content: space-between; */
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--clr2);
}

.email-article:first-child .email-preview {
    border-top: 1px solid var(--clr2);
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 1;
}

.email-preview.read {
    background-color: var(--clr4);
}

.email-preview .icon {
    background-image: url(../../../assets/icons/star.svg);
}

.email-preview .name-txt {
    width: 170px;
}

.email-preview:not(.read) {
    font-family: roboto-b, sans-serif;
}

.email-preview .sent-at {
    position: absolute;
    right: 20px;
}

.email-preview .txt-container {
    max-width: 620px;
}

.email-preview .txt-container,
.email-preview .subject,
.email-preview .body-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}