.email-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 7fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'select star name txt sent-at';
    width: 100%;
    height: 40px;
    align-items: center;
    /* gap: 10px; */
    padding-left: 10px;
    border-bottom: 1px solid var(--clr2);
    position: relative;
}

/* .email-preview>* {
    flex-grow: 1;
} */

.email-preview .sent-at {
    justify-self: flex-end;
    margin-right: 5px;
    grid-area: sent-at;
}

.email-article:first-child .email-preview {
    border-top: 1px solid var(--clr2);
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 1;
}

.email-preview.read {
    background-color: var(--clr4);
}

.email-preview .star.icon {
    background-image: url(../../../assets/icons/star.svg);
    grid-area: star;
}

.email-preview .name-txt {
    grid-area: name;
}

.email-preview:not(.read) {
    font-family: roboto-b, sans-serif;
}

/* .email-preview .sent-at {
    position: absolute;
    right: 20px;
} */

.email-preview .txt-container {
    grid-area: txt;
}


.email-preview .txt-container,
.email-preview .subject,
.email-preview .body-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.email-preview .actions {
    display: none;
    grid-area: sent-at;
    /* justify-self: flex-end; */
    width: 99%;
    background-color: inherit;
    z-index: 5;
    background-color: var(--clr1);
}

.email-preview:hover .actions {
    display: initial;
}

.email-preview .actions .delete.icon {
    background-image: url('./../../../assets/icons/delete.svg');
}