/* .email-list {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-area: 1 / 3 / span 15 / span 15;
    display: flex;
} */

.email-list ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}