.email-app {
    display: grid;
    grid-template: repeat(31, 1fr) / repeat(31, 1fr);
}

.email-app .email-search-container {
    grid-area: 1 / 7 / span 3 /span 25;
    background-color: var(--clr10);
    border-radius: 15px;
    font-size: 1.0625rem;
    line-height: 27px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.email-app .email-search-container .email-search-form {
    display: flex;
    flex-grow: 11;
    align-items: center;
}

.email-app .email-search-container .email-search-form>* {
    background-color: inherit;
}

.email-app .email-search-container .email-search-form .email-search {
    flex-grow: 1;
}

.email-app .email-search-container .email-search-form .email-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url(../../../assets/icons/close.svg);
}

.email-app .email-search-container .icon.search {
    background-image: url(../../../assets/icons/search.svg);
}

.email-app .email-search-container .icon.filter {
    appearance: none;
    background-image: url(../../../assets/icons/filter.svg);
    flex-grow: 1;
    cursor: pointer;
}

.email-app .email-search-container .filter-container {
    position: absolute;
    background-color: var(--clr1);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 4;
    padding: 20px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

.email-app .email-search-container .filter-container select,
.email-app .email-search-container .filter-container .set-sort-container>* {
    padding: 5px;
}

.email-app .email-search-container .filter-container select,
.email-app .email-search-container .filter-container .set-sort-container>*:not(:last-child) {
    border-bottom: 1px solid var(--clr8);
}

.email-app .email-search-container .filter-container select:hover,
.email-app .email-search-container .filter-container .set-sort-container>*:hover,
.email-app .email-search-container .filter-container .set-sort-container>*.active {
    background-color: var(--clr4);

}

.email-app .background {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--clr2b);
}

.email-app .hamburger {
    grid-area: 1/1 / span 2 /span 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/icons/hamburger.svg);
    min-width: 28px;
}

@media (min-width:560px) {
    .email-app .email-search-container {
        grid-area: 1 / 7 / span 3 /span 15;
    }
}

@media (min-width:770px) {
    .email-app .hamburger {
        display: none;
    }

    .email-app .background.nav {
        display: none;
    }
}