.email-app .side-nav {
    grid-area: 1 / 1 / span 31 / span 6;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
}

.email-app .side-nav>*:not(.compose) {
    display: flex;
    align-items: center;
    /* gap: 15px; */
    /* flex-grow: 1; */
    height: 32px;
    /* min-height: 32px; */
    width: 100%;
    padding-left: 26px;
    margin-right: 18px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.email-app .side-nav>*:hover {
    background-color: var(--clr4);

}

.email-app .side-nav a div:first-child {
    flex-grow: 1;
}

.email-app .side-nav a div:last-child {
    flex-grow: 7;
}

.email-app .side-nav .txt-container {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.email-app .side-nav .txt-container>* {
    flex-grow: 1;
}

.email-app .side-nav .txt-container span:last-child {
    display: flex;
    justify-content: flex-end;
}

.email-app .compose .icon {
    background-image: url(../../../assets/icons/add-with-color.png);
}

.email-app .inbox .icon {
    background-image: url(../../../assets/icons/inbox.svg);
}

.email-app .sent .icon {
    background-image: url(../../../assets/icons/sent.svg);
}

.email-app .starred .icon {
    background-image: url(../../../assets/icons/star-black.svg);
}

.email-app .trash .icon {
    background-image: url(../../../assets/icons/delete-full.svg);
}

.email-app .router-link-active {
    background-color: var(--clr3);
    font-family: roboto-b, sans-serif;
}

.email-app .inbox.router-link-active {
    background-color: var(--clr6);
    color: var(--clr7);
}