.email-app .side-nav {
    grid-area: 1 / 1 / span 31 / span 6;
    /* background-color: purple; */
    position: fixed;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    z-index: 5;
    min-height: 100vh;
    min-width: 50vw;
    background-color: var(--clr1);
}

.email-app .side-nav.open {
    transform: translateX(0);
    min-height: 100vh;
    top: 0;
    left: 0;
}

.email-app .side-nav>*:not(.compose) {
    display: flex;
    align-items: center;
    /* gap: 15px; */
    /* flex-grow: 1; */
    height: 32px;
    /* min-height: 32px; */
    width: 100%;
    padding-left: 26px;
    margin-right: 18px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.email-app .side-nav>*:hover {
    background-color: var(--clr4);

}

.email-app .side-nav a div:first-child {
    flex-grow: 1;
}

.email-app .side-nav a div:last-child {
    flex-grow: 7;
}

.email-app .side-nav .txt-container {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.email-app .side-nav .txt-container>* {
    flex-grow: 1;
}

.email-app .side-nav .txt-container span:last-child {
    display: flex;
    justify-content: flex-end;
}

.email-app .compose .icon {
    background-image: url(../../../assets/icons/add-with-color.png);
}

.email-app .inbox .icon {
    background-image: url(../../../assets/icons/inbox.svg);
}

.email-app .sent .icon {
    background-image: url(../../../assets/icons/sent.svg);
}

.email-app .starred .icon {
    background-image: url(../../../assets/icons/star-black.svg);
}

.email-app .trash .icon {
    background-image: url(../../../assets/icons/delete-full.svg);
}

.email-app .draft .icon {
    background-image: url(../../../assets/icons/draft.svg);
}

.email-app .router-link-active {
    background-color: var(--clr3);
    font-family: roboto-b, sans-serif;
}

.email-app .inbox.router-link-active {
    background-color: var(--clr6);
    color: var(--clr7);
}

.email-app .side-nav .close-nav {
    position: absolute;
    left: 0;
    max-width: 48px;
    background-image: url(../../../assets/icons/close.svg);
}

@media (min-width:770px) {
    .email-app .side-nav .close-nav {
        display: none;
    }

    .email-app .side-nav {
        min-width: 0;
        transform: translateX(0);
        position: initial;
    }
}