:root {
    /* Main Background Color */
    --clr1: #fff;
    /* Borders color */
    --clr2: #eceff1;
    /* Search background color */
    --clr3: #f1f3f4;
    /* Read email color */
    --clr4: #f5f7f7;
    --clr5: black;
    /* Inbox active background color*/
    --clr6: #fce8e6;
    /* Inbox active color*/
    --clr7: #d93025;
    /* notes border clr */
    --clr8: #e0e0e0;
}