:root {
    /* Main Background Color */
    --clr1: #fff;
    /* Borders color */
    --clr2: #eceff1;
    /* Search background color */
    --clr3: #f1f3f4;
    /* Read email color */
    --clr4: #ecf0f0;
    --clr5: black;
    /* Inbox active background color*/
    --clr6: #fce8e6;
    /* Inbox active color*/
    --clr7: #d93025;
    /* notes border clr */
    --clr8: #e0e0e0;
    /* Header words */
    --clr9: #5f6368;
    /* Search Background */
    --clr10: #f1f3f4;
    /* Compose header */
    --clr11: #404040;
    /* Font Color */
    --clr12: #868686;
    /* Secondary font color */
    --clr13: #202124;
    /* Third font color */
    --clr14: #555555;
}