.keep-app {
    background-color: gray;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;  ???*/
    /* gap: 20px; */
    /* height: 100%; ??? */
}

.keep-app .main-content {
    /* width: 100%; */
    flex-grow: 1;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.keep-app .side-nav {
    background-color: var(--clr1);
    align-self: flex-start;
    height: 100%;
    width: 60px;
    /* flex-grow: 1; */
}