.note-add {
    background-color: var(--clr1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.note-add input {
    background-color: var(--clr2);
    padding: 1rem;
}

.note-add input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.note-add input:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5px;
}

.note-add button {
    margin-inline-end: 10px;
}

.note-add .take-note .add-btn{
    background-image: url(../../../assets/icons/plus.svg);
    background-color: var(--clr2);
}

.note-add .take-note .txt-btn {
    background-image: url(../../../assets/icons/edit.svg);
}

.note-add .take-note .img-btn {
    background-image: url(../../../assets/icons/image.svg);
}

.note-add .take-note .vid-btn {
    background-image: url(../../../assets/icons/vid.svg);
}