.note-list {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    flex-grow: 9;
    padding: 15px;
}

.note-list .note {
    background-color: #F5CB5C;
    width: 238px;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
}