.note-list {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

    gap: 10px;
    padding: 10px;
}

.note-list .note {
    background-color: #F5CB5C;
    /* flex-basis: 30%; */
    width: 238px;
    min-height: 60px;
    border-radius: 5px;
    padding: 5px;
}