.note-list {
    background-color: var(--clr1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* column-count: 4; */
    /* break-inside: avoid; */
    flex-grow: 9;
    padding: 15px;
    overflow-y: scroll;
    /* overflow-x: scroll; */
}

.note-list .note {
    width: 238px;
    height: fit-content;
    border: 1px solid var(--clr8);
    border-radius: 10px;
    padding: 15px;
    /* display: inline-block; */    
}
.note .note-txt .txt {
    overflow-wrap: break-word;
}

.note-list .note:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
                0 1px 3px 1px rgb(60 64 67 / 15%);
}

.note-list .note .delete-btn{
    cursor: pointer;
    background-image: url(../../../assets/icons/delete.svg);
    border: none;
    background-color: var(--clr1);
    margin-top: 15px;
}

.note.note-video {
    width: 340px;
}