.note-add {
    background-color: var(--clr1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding-top: 10px;
    padding-bottom: 20px;
}

.note-add input {
    background-color: var(--clr1);
    /* width: 40%; */
    width: 600px;
    padding: 1rem;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    border: 1px solid transparent;
    border-radius: 8px;
    margin-right: 5px;
}

/* .note-add input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.note-add input:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.note-add button {
    margin-inline-end: 10px;
}

.note-add .take-note .add-btn{
    background-image: url(../../../assets/icons/plus.svg);
    background-color: var(--clr2);
}

.note-add .take-note .txt-btn {
    background-image: url(../../../assets/icons/edit.svg);
}

.note-add .take-note .img-btn {
    background-image: url(../../../assets/icons/image.svg);
}

.note-add .take-note .vid-btn {
    background-image: url(../../../assets/icons/vid.svg);
}